@model PGMActas_V2.Models.Automotor

@using PGMActas_V2.ViewModels
@{
    List<MarcaItemVM> items = (List<MarcaItemVM>)ViewBag.items;
    List<TipoVehiculoItemVM> items2 = (List<TipoVehiculoItemVM>)ViewBag.items2;
    List<TipoDocumentoItemVM> items3 = (List<TipoDocumentoItemVM>)ViewBag.items3;
    List<PaisItemVM> items4 = (List<PaisItemVM>)ViewBag.items4;
    List<ProvinciaItemVM> items5 = (List<ProvinciaItemVM>)ViewBag.items5;
    List<LocalidadItemVM> items6 = (List<LocalidadItemVM>)ViewBag.items6;
    List<ResponsabilidadLegalItemVM> items7 = (List<ResponsabilidadLegalItemVM>)ViewBag.items7;
}




<div class="image-container set-full-height"
     style="background-image: url('/assets/img/stewart-edward-05zSlV1O_ys-unsplash.jpg')">



    <div class="container">
        <div class="row">
      
            <div>

                <div class="wizard-container p-3">
                    <div class="card wizard-card" data-color="green" id="wizardProfile">
                      

                        <div class="wizard-header">
                            <h3 class="wizard-title">
                                Cargar Acta
                            </h3>
                            <h5>Puede navegar libremente hacia atrás y adelante sin perder información.</h5>
                        </div>

                        <div class="wizard-navigation">
                            <ul>
                                <li id="tabInfraccionID"><a href="#about" data-toggle="tab">Información de la infracción</a></li>
                                <li><a href="#account" data-toggle="tab">Información del vehículo</a></li>
                                <li><a href="#address" data-toggle="tab">Información de las personas no titulares</a></li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane" id="about">
                                <div class="row">
                                    <h4 class="info-text">
                                        Paso 1 de 3
                                    </h4>

                                    <!-- Primer Columna, Parte uno -->
                                    <div class="col-sm-4 pl-4">


                                        <div class="input-group">
                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Inspector
                                                    <small>(obligatorio)</small>
                                                </label>
                                                <div style="flex-direction: row; flex-wrap: wrap;" id="divInspectorInputButton">

                                                    <input name="inspector" type="text" class="form-control"
                                                           value=" " id="inspectorID" disabled required>

                                                    <button id="btnInspectores" class="btn btn-warning btn-xs"
                                                            type="button">
                                                        Buscar inspector
                                                    </button>

                                                </div>

                                            </div>
                                        </div>




                                        <div class="input-group">
                                            <div class="form-group has-error" id="divNumeroActa">
                                                <label>
                                                    Número de Acta
                                                    <small>(obligatorio)</small>
                                                </label>
                                                <div style="flex-direction: row; display: flex;" id="divNumeroActa">
                                                    <div style="flex-direction: column">

                                                        <input disabled name="numerodeacta" type="text" class="form-control" maxlength="10" onkeypress="return isNumberKey(event);" id="numeroActaID" required>

                                                    </div>
                                         

                                                </div>

                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <div class="form-group label-floating">
                                                <label>
                                                    Fecha de la Infracción
                                                    <small>(obligatorio)</small>
                                                </label><br />
                                                <div style="flex-direction: row; display: flex; flex-wrap:wrap">

                                                    <input class="datefield" data-val="true"
                                                           data-val-required="Date is required"
                                                           name="ReleaseDate" type="date" id="fechaInf" min="1970-01-01" required />
                                                    <button class="btn btn-warning btn-xs"
                                                            type="button" style="margin-left:10px" id="btnFechaInf">
                                                        Llenar con día actual
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            <div class="form-group has-error" id="divHora">
                                                <label>
                                                    Hora de la Infracción
                                                    <small>(obligatorio)</small>
                                                    </br>
                                                </label>
                                                <input name="hora" type="time" class="form-control" id="horaInf" disabled>

                                              
                                            </div>
                                        </div>






                                    </div>

                                    <!-- Segunda Columna, Parte uno -->
                                    <div class="col-sm-4">

                                        <div class="input-group">


                                            <div class="form-group label-floating">
                                                <label>
                                                    Localidad de la Infracción

                                                </label><br />
                                
                                                @Html.DropDownListFor(model => model.marca, new SelectList(items6, "id_localidad", "localidad", 1), "Localidad *", htmlAttributes: new { @class = "form-control", id = "localidadInfID", @disabled = "disabled", @name = "localidadInf" })
                                            </div>
                                        </div>

                                        <div class="input-group">

                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Dirección de la Infracción
                                                    <small>(obligatorio)</small>
                                                </label>
                                                <input name="direccion" type="text" class="form-control" id="direccionInfID" maxlength="50" onkeypress="return noAlfanumericos(event)">
                                            </div>
                                        </div>


                                        <div class="input-group">
                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Código postal de la Infracción
                                                    <small>(obligatorio)</small>
                                                </label>
                                                <input name="direccion" type="text" class="form-control" onkeypress="return isNumberKey(event);" id="codigoPostalInfID"  maxlength="10">

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Tercer Columna, Parte uno -->

                                    <div class="col-sm-4">
                                        <div id="listadoInfracciones">


                                        </div>


                                        <div class="input-group">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Infracción
                                                    <small>(obligatorio)</small>
                                                </label>
                                                <div style="flex-direction: row; display: flex;">
                                                    <input name="infraccion" type="text" class="form-control"
                                                           id="infraccionID" value=" " disabled style="width:150px">
                                                    <!-- Valor BD-->
                                                    <input name="codigo_infraccion" type="text" class="form-control"
                                                           id="codigoinfraccionID" value=" " style="display:none">
                                                    <input name="retuvo_licencia" type="text" class="form-control"
                                                           id="retuvoLicenciaID" value=" " style="display:none">
                                                    <input name="retuvo_vehiculo" type="text" class="form-control"
                                                           id="retuvoVehiculoID" value=" " style="display:none">
                                                    <button class="btn btn-warning btn-xs"
                                                            type="button" id="btnInfracciones">
                                                        Buscar<br /> infracciones
                                                    </button>
                                                </div>
                                            </div>
                                        </div>


                                        <button id="btnAgregarInfraccion" class="btn btn-success btn-xs"
                                                type="button">
                                            Agregar Infracción
                                        </button>


                                        <div class="radio" id="retuvoLicenciaPerm" style="display:none">
                                            Retuvo licencia
                                            <label>
                                                <input type="radio" name="retuvoLicencia" value='1'>
                                                Sí
                                            </label>
                                            <label>
                                                <input type="radio" name="retuvoLicencia" value='0'>
                                                No
                                            </label>
                                        </div>

                                        <div class="radio" id="retuvoVehiculoPerm" style="display:none">
                                            Retuvo vehículo
                                            <label>
                                                <input type="radio" name="retuvoVehiculo" value='1'>
                                                Sí
                                            </label>
                                            <label>
                                                <input type="radio" name="retuvoVehiculo" value='0'>
                                                No
                                            </label>
                                        </div>


                                        <div class="input-group">


                                            <div class="form-group label-floating">

                                                <label>
                                                    Observaciones de la Infracción
                                                </label>
                                                <textarea class="form-control" rows="5" maxlength="250" id="observacionesInfID" onkeypress="return validacionCampoObservaciones(event)"></textarea>
                                                <br />
                                                <small><text id="count"></text> caracteres restantes.</small>
                                            </div>
                                        </div>

                                    </div>


                                </div>

                            </div>
                            <div class="tab-pane" id="account" style="max-width: 100%;">
                                <div class="row">
                                    <h4 class="info-text">
                                        Paso 2 de 3 <br />
                                        <small>Al seleccionar una persona desde el apartado "Titulares" puede buscar sus infracciones, elegirla como infractora o eliminarla.</small>
                                    </h4>

                                    <!-- Primer columna, Parte dos-->
                                    <div class="col-sm-5  col-sm-offset-1">

                                        <div class="input-group">

                                            <div class="form-group label-floating">

                                                <div style="flex-direction: row; display: flex; flex-wrap:wrap;">
                                                    <label class="control-label">
                                                        Número de dominio
                                                        <small>(obligatorio)</small>
                                                    </label>
                                                    <input name="numeroDominio" maxlength="10" type="text" class="form-control" value=" " id="automotorID" onkeypress="return noAlfanumericos(event);">
                                                    <button class="btn btn-warning btn-xs"
                                                            type="button" style="margin-left:10px;" id="btnAutomotor">
                                                        Buscar Automotor 
                                                    </button>
                                                    <button class="btn btn-danger btn-xs"
                                                            type="button" style="margin-left:10px; display:none" id="btnAutomotorLimpiar">
                                                        Limpiar
                                                    </button>
                                                </div>



                                            </div>
                                        </div>

                                        @Html.DropDownListFor(model => model.marca, new SelectList(items2, "id_tipo_vehiculo", "tipo_vehiculo"), "Tipo Vehículo *", htmlAttributes: new { @class = "form-control", id = "tipoVehiculoID", required = "required" })


                                        @Html.DropDownListFor(model => model.marca, new SelectList(items, "id_marca", "marca"), "Marca *", htmlAttributes: new { @class = "form-control", @id = "marcaVehiculoID" })

                                        <div class="input-group">
                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Modelo y Año
                                                    <small>(obligatorio)</small>
                                                </label>
                                                <input name="direccion" type="text" class="form-control" id="modeloVehiculoID" value=" "  maxlength="40" onkeypress="return noAlfanumericos(event);">
                                            </div>
                                        </div>

                                        <div class="input-group">

                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Color

                                                </label>
                                                <input name="direccion"  maxlength="15" type="text" class="form-control" id="colorVehiculoID" value=" " onkeypress="return lettersSpacesOnly(event);">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Segunda columna, Parte dos-->

                                    <div class="col-sm-5  col-sm-offset-1">


                                        <div id="listadoTitulares" style="display:none">
                                            <h5>Titulares</h5>
                                            <div id="titularesRegistrados">

                                            </div>
                                            <div id="titularesDeclarados">

                                            </div>
                                            <div id="titularesNoDeclarados">

                                            </div>

                                        </div>
                                        <!-- <hr />-->
                                        <div id="menuPersona" class="d-flex flex-column" style="display:none">
                                            <button id="elimTitular" class="btn btn-danger btn-xs"
                                                    type="button">
                                                Eliminar Titular
                                            </button>
                                            <button id="infractorTitular" class="btn btn-warning btn-xs"
                                                    type="button">
                                                Infractor Titular
                                            </button>
                                            <button  id="visuaInfracciones" class="btn btn-warning btn-xs"
                                                    type="button">
                                                Visualizar Infracciones
                                            </button>
                                            <input id="idPersonaMenuAbierta" value="0" style="display:none" />
                                        </div>


                                        @Html.DropDownListFor(model => model.marca, new SelectList(items3, "id_tipo_documento", "tipo_documento"), "Tipo Documento *", htmlAttributes: new { @class = "form-control", id = "tipoDoc" })





                                        <div class="input-group">
                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Núm. de documento del titular
                                                    <small>(obligatorio)</small>
                                                </label>
                                                <input  maxlength="10" name="direccion" type="text" class="form-control" id="personaID" value=" " disabled onkeypress="return isNumberKey(event);" >

                                            </div>
                                        </div>
                                        <div style="flex-direction: row; display: flex;">
                                            <button class="btn btn-warning btn-xs"
                                                    type="button" id="btnPersona">
                                                Buscar persona
                                            </button>
                                        </div>

                                        <div class="input-group">
                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Nombre del titular
                                                    <small>(obligatorio)</small>
                                                </label>
                                                <input  maxlength="20" id="nombrePersona" name="direccion" type="text" class="form-control"  value=" " onkeypress="return lettersSpacesOnly(event)">
                                            </div>
                                        </div>


                                        <div class="input-group">
                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Apellido del titular
                                                    <small>(obligatorio)</small>
                                                </label>
                                                <input   id="apellidoPersona" name="direccion" type="text" class="form-control" value=" " maxlength="20" onkeypress="return lettersSpacesOnly(event)">

                                            </div>
                                        </div>
                                        <div style="flex-direction: row; display: flex;">
                                            <button id="agregarTitular" class="btn btn-success btn-xs"
                                                    type="button">
                                                AGREGAR Titular
                                            </button>
                                        </div>

                                    </div>



                                </div>




                            </div>

                            <div class="tab-pane" id="address">
                                <div class="row">
                                    <h4 class="info-text">
                                        Paso 3 de 3 <br />
                                        <small>Al seleccionar una persona del apartado "Personas no Titulares" puede buscar sus infracciones o eliminarla.</small>
                                    </h4>

                                    <div class="col-sm-4">
                                        <div id="listadoInfractores" style="display:none">
                                            <h5>Personas no titulares</h5>
                                            <div id="infractoresDeclarados">

                                            </div>
                                            <div id="infractoresNoDeclarados">

                                            </div>

                                        </div>
                                        <div id="menuPersonaINF" class="d-flex flex-column" style="display:none;width: 15.5rem;">
                                            <button id="elimTitularINF" class="btn btn-danger btn-xs"
                                                    type="button">
                                                Eliminar Persona
                                            </button>
                                            <button id="visuaInfraccionesINF" class="btn btn-warning btn-xs"
                                                    type="button">
                                                Visualizar Actas
                                            </button>
                                            <input id="idPersonaINFMenuAbierta" value="0" style="display:none" />
                                        </div>

                                        @Html.DropDownListFor(model => model.marca, new SelectList(items3, "id_tipo_documento", "tipo_documento"), "Tipo Documento *", htmlAttributes: new { @class = "form-control", id = "tipoDocInf" })




                                        <div class="input-group">
                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Número de documento
                                                    <small>(obligatorio)</small>
                                                </label>
                                                <input name="direccion" type="text" class="form-control" id="personaInfID" value=" " disabled onkeypress="return isNumberKey(event);" maxlength="10" >
                                                <div style="flex-direction: row; display: flex;">
                                                    <button class="btn btn-warning btn-xs"
                                                            type="button" id="btnPersonaInfID">
                                                        Buscar persona 
                                                    </button>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="input-group">
                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Nombre
                                                    <small>(obligatorio)</small>
                                                </label>
                                                <input name="direccion" type="text" class="form-control" id="nombreInfID" value=" " maxlength="20" onkeypress="return lettersSpacesOnly(event)">
                                            </div>
                                        </div>


                                        <div class="input-group">
                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Apellido
                                                    <small>(obligatorio)</small>
                                                </label>
                                                <input name="direccion" type="text" class="form-control" id="apellidoInfID" value=" " maxlength="20" onkeypress="return lettersSpacesOnly(event)">

                                            </div>
                                        </div>

                                      
                                    </div>



                                    <div class="col-sm-4">

                                        @Html.DropDownListFor(model => model.marca, new SelectList(items4, "id_pais", "pais"), "País *", htmlAttributes: new { @class = "form-control", id = "paisInfID" })



                                        @Html.DropDownListFor(model => model.marca, new SelectList(items5, "id_provincia", "provincia"), "Provincia *", htmlAttributes: new { @class = "form-control", id = "provinciaInfID" })



                                        @Html.DropDownListFor(model => model.marca, new SelectList(items6, "id_localidad", "localidad"), "Localidad *", htmlAttributes: new { @class = "form-control", id = "localidadInfractorID" })



                                        <div class="input-group">
                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Domicilio
                                                    <small>(obligatorio)</small>
                                                </label>
                                                <input name="direccion" type="text" class="form-control" id="domicilioInfID" value=" " maxlength="50" onkeypress="return noAlfanumericos(event)">

                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Código postal

                                                </label>
                                                <input name="direccion" type="text" class="form-control" maxlength="10" onkeypress="return isNumberKey(event);" id="codigoPostalID" value=" ">

                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-sm-4">



                                        @Html.DropDownListFor(model => model.marca, new SelectList(items7, "id_responsabilidad_legal", "responsabilidad_legal"), "Responsabilidad Legal *", htmlAttributes: new { @class = "form-control", id = "comboResponsabilidadLegal" })




                                        <div style="flex-direction: row; display: flex;">
                                            <button class="btn btn-success btn-xs"
                                                    type="button" style="margin: auto" id="agregarInfractor">
                                                Agregar persona
                                            </button>
                                        </div>





                                    </div>



                                </div>



                            </div>

                        </div>

                        <!-- div del form invisible -->
                        <div id="formCargarActa" style="display:none">
                            <div id="formCargarActa_infracciones">
                            </div>
                            <div id="formCargarActa_titulares">
                                <div id="personasRegistradas">
                                </div>
                                <div id="personasNoRegistradas">
                                </div>
                            </div>
                            <div id="formCargarActa_infractores">
                                <div id="personasInfRegistradas">
                                </div>
                                <div id="personasInfNoRegistradas">
                                </div>
                            </div>
                        </div>

                        <div id="formControlActa" style="display:none">
                            <input id="btnBuscarPersona" value="0" />
                            <input id="personaIDPosible" value="0" />
                            <input id="personaDocumentoAnt" value="0" />
                            <input id="personaIDAnt" value="0" />
                            <input id="personaIDPosibleInf" value="0" />
                            <input id="personaDocumentoAntInf" value="0" />
                            <input id="personaIDAntInf" value="0" />
                        </div>


                        <div class="wizard-footer" style="text-align: center;">

                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-success btn-wd'
                                       name='next' value='Siguiente' id="btnSiguiente" />

                                <input type='button' id="btnRegistrarActa" class='btn btn-finish btn-fill btn-success btn-wd'
                                       name='finish' value='Finalizar' />
                            </div>

                            <div class="centrarBoton">
                                <input type='button' class='btn btn-limpiarForm btn-fill btn-danger btn-wd'
                                       name='limpiarForm' value='Limpiar' id="btnLimpiarForm" />
                            </div>


                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd'
                                       name='previous' value='Atrás' />
                            </div>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- wizard container -->
        </div>
    </div><!-- end row -->
</div> <!--  big container -->
<!-- Modal Inspectores -->
<div id="modalInspectores" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Inspectores</h4>
            </div>
            <div class="modal-body">


                <div id="divInspector">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Infraccion -->
<div id="modalInfraccion" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width:800px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Infracción</h4>
            </div>
            <div class="modal-body">


                <div id="divInfraccion">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Automotores -->
<div id="modalAutomotor" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Automotores</h4>
            </div>
            <div class="modal-body">


                <div id="divAutomotor">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Personas -->
<div id="modalPersona" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Personas</h4>
            </div>
            <div class="modal-body">


                <div id="divPersona">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal infraccionse de una persona particular-->
<div id="modalInfraccionesPersonaParticular" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Actas</h4>
            </div>
            <div class="modal-body">


                <div id="divInfraccionesPersonaParticular">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script type="module">
    //Función IP (ya no se usa)
    /*$.getJSON('https://ipgeolocation.abstractapi.com/v1/?api_key=a05fb540bdd04915ba8ad86976eca036', function (data) {
        $("#tbIP").attr("value", data.ip_addresss);
        $("#tbIP").val(data.ip_address);
    });*/
</script>


