@model IEnumerable<PGMActas_V2.Models.Automotor>
@{
    ViewBag.Title = "_AutomotoresResultado";
}


<div style="display:grid">
    <table>
        <thead>
            <tr class="table100-head" style="border-bottom: 2px solid #4caf50">
                <th class="column1" style="padding: 0.3rem"> Nro Dominio </th>
                <th class="column2" style="padding: 0.3rem"> Tipo vehículo </th>
                <th class="column3" style="padding: 0.3rem"> Marca </th>
                <th class="column3" style="padding: 0.3rem"> Modelo </th>
                <th class="column3" style="padding: 0.3rem"> Color </th>
                <th class="column5" style="padding: 0.3rem"> Seleccionar </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var automotor in Model)
            {
                <tr>
                    <td>@automotor.numero_dominio</td>
                    <td>@automotor.tipoVehiculo.tipo_vehiculo</td>
                    <td>@automotor.marca.marca</td>
                    <td>@automotor.modelo</td>
                    <td>@automotor.color</td>
                    <td>

                        <button class="btn btn-success btn-xs visualizarDetalle" id="@automotor.id_automotor">
                            Llenar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('button.visualizarDetalle').click(function () {
            var idAutomotor = $(this).attr('id');
           //$.get(URL,data,function(data,status,xhr),dataType)
           $.get(
                "@Url.Action("ObtenerDetallesAutomotor","Automotor")",
               { idAutomotor: idAutomotor},
               function (response) {
                   limpiarTitulares();
                   registerTitulares(response);
                },
                "json"
           );

        });
        //Función de limpiar botón
        $('#btnAutomotorLimpiar').click(function () {
            limpiarTitulares();
        });
        $("#listadoTitulares").on("click", "div", function (event) {
            $('#modalPersonaUnitaria').modal('toggle');

        });
    });




</script>
