@model IEnumerable<PGMActas_V2.Models.Infraccion>
@{
    ViewBag.Title = "_InfraccionesResultado";
}


<div style="display:grid">
    <table>
        <thead>
            <tr class="table100-head" style="border-bottom: 2px solid #4caf50">
                <th class="column1" style="padding: 0.3rem">Código</th>
                <th class="column2" style="padding: 0.3rem"> Nomenclatura </th>
                <th class="column3" style="padding: 0.3rem"> Descripcion </th>
                <th class="column4" style="padding: 0.3rem"> Estado </th>
                <th class="column5" style="padding: 0.3rem"> Calificación </th>
                <th class="column5" style="padding: 0.3rem"> Seleccionar </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var infraccion in Model)
            {
                <tr>
                    <td>@infraccion.codigo_infraccion</td>
                    <td>@infraccion.nomenclatura</td>
                    <td>@infraccion.descripcion</td>
                    <td>@(infraccion.estado? "Vigente":"No Vigente")</td>
                    <td>@infraccion.calificacion</td>


                    <td>
                        <button class="btn btn-success btn-xs" id="@infraccion.nomenclatura|@infraccion.codigo_infraccion">
                            Llenar
                        </button>
                    </td>



                </tr>
            }


        </tbody>
    </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            $('button.btn-success').click(function () {
                var s = $(this).attr('id');
                s = s.split('|');
                $("#infraccionID").val(s[0]);
                $("#codigoinfraccionID").val(s[1]);
            })
        });

    </script>
