<!DOCTYPE html>
<html>
<head>
    <title> Gestión de Actas </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/assets/img/baseline_directions_car_white_18dp.png" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/material-bootstrap-wizard.css" rel="stylesheet" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/css/demo.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-fixed-top ">

            <a class="navbar-brand" onclick="window.location.href = '@Url.Action("Index", "Home")'" title="Municipalidad Sarasa" aria-label="Municipalidad Sarasa" style="cursor:pointer">
                Municipalidad Sarasa
            </a>
            <button id="btnCollapse" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="float:right">
                <span class="material-icons">menu</span>
            </button>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float:right">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item ml-xl-2">
                        <a class="nav-link scroll" onclick="window.location.href = '@Url.Action("Index", "Home")'" title="Inicio" aria-label="Inicio" style="cursor:pointer">
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item ml-xl-2">
                        <a class="nav-link scroll" onclick="window.location.href = '@Url.Action("CargarActa", "Acta")'" title="Cargar" aria-label="Cargar" style="cursor:pointer">
                            Cargar
                        </a>
                    </li>
                    <li class="nav-item ml-xl-2">
                        <a class="nav-link scroll" onclick="window.location.href = '@Url.Action("InicioSesion", "Usuario")'" title="Iniciar Sesión" aria-label="Iniciar Sesión" style="cursor:pointer">
                            Consultar
                        </a>
                    </li>
                    <li class="nav-item ml-xl-2">
                        <a class="nav-link scroll" onclick="window.location.href = '@Url.Action("InicioSesion", "Usuario")'" title="Iniciar Sesión" aria-label="Iniciar Sesión" style="cursor:pointer">
                            Modificar
                        </a>
                    </li>
                    <li class="nav-item ml-xl-2">
                        <a class="nav-link scroll" onclick="window.location.href = '@Url.Action("InicioSesion", "Usuario")'" title="Iniciar Sesión" aria-label="Iniciar Sesión" style="cursor:pointer">
                            Asignar actas
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        <script src="~/assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>



    </header>
    @RenderBody()
    <!--   Core JS Files   -->

    <script src="~/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.bootstrap.js" type="text/javascript"></script>

    <!--  Plugin for the Wizard -->
    <script src="~/assets/js/material-bootstrap-wizard.js"></script>

    <!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
    <script src="~/assets/js/jquery.validate.min.js"></script>

    <!-- <script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>-->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js" integrity="sha512-d4KkQohk+HswGs6A1d6Gak6Bb9rMWtxjOa0IiY49Q3TeFd5xAzjWXDCBW9RS7m86FQ4RzM2BdHmdJnnKRYknxw==" crossorigin="anonymous"></script>

    <script src="~/assets/js/principal.js"></script>


    <script src="~/assets/js/jquery-ui.min.js"></script>

    <script>
        //Función Inspector
        $(function () {
            $('#btnInspectores').click(function () {
                $('#modalInspectores').modal('toggle');
                $.ajax({
                    url: "@(Url.Action("Inspector", "Acta"))",
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#divInspector').html(result);
                    }
                });
                return false;
            });
        });

        //Función Infraccion
                $(function () {
                    $('#btnInfracciones').click(function () {
                        $('#modalInfraccion').modal('toggle');
                $.ajax({
                    url: "@(Url.Action("Infraccion", "Acta"))",
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#divInfraccion').html(result);
                    }
                });
                return false;
                     });
               });


        //Función Automotor
                $(function () {
                    $('#btnAutomotor').click(function () {
                        $('#modalAutomotor').modal('toggle');
                $.ajax({
                    url: "@(Url.Action("Automotor", "Acta"))",
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#divAutomotor').html(result);
                    }
                });
                return false;
                     });
               });

             //Función Persona
                $(function () {
                    $('#btnPersona').click(function () {
                        $('#btnBuscarPersona').val('0');
                        $('#modalPersona').modal('toggle');
                $.ajax({
                    url: "@(Url.Action("Persona", "Acta"))",
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#divPersona').html(result);
                    }
                });
                return false;
                     });
                });
            //Función Infracciones Persona Particular
                $(function () {
                    $('#visuaInfracciones').click(function () {
                        var id_persona = $('#idPersonaMenuAbierta').val();
                        id_persona = id_persona.split("_");
                $.ajax({
                    url: "@(Url.Action("InfraccionesPersonaParticular", "Acta"))",
                    type: 'GET',
                    data: { 'id_persona': id_persona[1]},
                    cache: false,
                    success: function (result) {
                        $('#divInfraccionesPersonaParticular').html(result);
                        $('#modalInfraccionesPersonaParticular').modal('toggle');
                    }
                });
                return false;
                     });
                });
               $(function () {
                   $('#visuaInfraccionesINF').click(function () {
                       var id_persona = $('#idPersonaINFMenuAbierta').val();
                        id_persona = id_persona.split("_");
                $.ajax({
                    url: "@(Url.Action("InfraccionesPersonaParticular", "Acta"))",
                    type: 'GET',
                    data: { 'id_persona': id_persona[1]},
                    cache: false,
                    success: function (result) {
                        $('#divInfraccionesPersonaParticular').html(result);
                        $('#modalInfraccionesPersonaParticular').modal('toggle');
                    }
                });
                return false;
                     });
               });


         $(function () {
             $('#btnPersonaInfID').click(function () {
                 $('#btnBuscarPersona').val('1');
                 $('#modalPersona').modal('toggle');
                $.ajax({
                    url: "@(Url.Action("Persona", "Acta"))",
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#divPersona').html(result);
                    }
                });
                return false;
                     });
         });
        
        
        $('#btnRegistrarActa').click(function () {
            
            if (true) { //estaVacio()
                if (true) {//validarExistenciaInfractor()
                    var result = confirm("¿Desea guardar el acta?");
                    console.log(result);
                    if (result) {
                        //fecha y ho actual
                        //fecha
                        var today = new Date();
                        var dd = String(today.getDate()).padStart(2, '0');
                        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                        var yyyy = today.getFullYear();
                        today = yyyy + '-' + mm + '-' + dd;
                        //hora
                        var currentdate = new Date();
                        var datetime = currentdate.getHours() + ":" + currentdate.getMinutes();

                        var fechaCargaInput = "<input id='fechaCarga_form' name='fechaCarga_form' value='" + today + "'>";
                        var horaCargaInput = "<input id='horaCarga_form' name='horaCarga_form' value='" + datetime + "'>";

                        $('#formCargarActa').append(fechaCargaInput);
                        $('#formCargarActa').append(horaCargaInput);
                        console.log("Comienza el guardado del acta");
                        var datosActa = $('#formCargarActa');
                        console.log("datos acta:");
                        console.log(datosActa);
                        var datosFormulario = {};
                        var infracciones = [];
                        var titulares = [];
                        var titularesRegistrados = [];
                        var titularesNoRegistrados = [];

                        var infractores = [];
                        var infractoresRegistrados = [];
                        var infractoresNoRegistrados = [];

                        $("#formCargarActa > input").each((index, elem) => {
                            var key = elem.id;
                            var objInput = {};
                            datosFormulario[key] = elem.value;

                            //console.log("input valores:");
                            //console.log(objInput);
                        });
                        $("#formCargarActa_infracciones > div").each((index, elem) => {
                            var listado_inputs = elem.querySelectorAll("input");
                            var objInput = {};
                            listado_inputs.forEach(elemento => {
                                var key = elemento.id;

                                objInput[key] = elemento.value;
                            });

                            infracciones.push(objInput);

                            //console.log("input valores:");
                            //console.log(objInput);
                        });
                        $("#personasRegistradas > div").each((index, elem) => {
                            var listado_inputs = elem.querySelectorAll("input");
                            var objInput = {};

                            listado_inputs.forEach(elemento => {
                                var key = elemento.id;

                                objInput[key] = elemento.value;
                            });
                            titularesRegistrados.push(objInput);
                        });
                        $("#personasNoRegistradas > div").each((index, elem) => {
                            var listado_inputs = elem.querySelectorAll("input");
                            var objInput = {};

                            listado_inputs.forEach(elemento => {
                                var key = elemento.id;

                                objInput[key] = elemento.value;
                            });
                            titularesNoRegistrados.push(objInput);
                        });
                        $("#personasInfRegistradas > div").each((index, elem) => {
                            var listado_inputs = elem.querySelectorAll("input");
                            var objInput = {};

                            listado_inputs.forEach(elemento => {
                                var key = elemento.id;

                                objInput[key] = elemento.value;
                            });
                            infractoresRegistrados.push(objInput);
                        });
                        $("#personasInfNoRegistradas > div").each((index, elem) => {
                            var listado_inputs = elem.querySelectorAll("input");
                            var objInput = {};

                            listado_inputs.forEach(elemento => {
                                var key = elemento.id;

                                objInput[key] = elemento.value;
                            });
                            infractoresNoRegistrados.push(objInput);
                        });

                        titulares.push(titularesRegistrados);
                        titulares.push(titularesNoRegistrados);
                        infractores.push(infractoresRegistrados);
                        infractores.push(infractoresNoRegistrados);
                        datosFormulario['infractores'] = infractores;
                        datosFormulario['titulares'] = titulares;
                        datosFormulario['infracciones'] = infracciones;
                        console.log("Datos Formulario:");
                        console.log(datosFormulario);




                        $.ajax({
                            url: "@(Url.Action("GuardarFormulario", "Formulario"))",
                            type: 'POST',
                            data: JSON.stringify(datosFormulario),
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                console.log(data);
                                alert("Acta agregada correctamente.");

                            },
                            error: function () {
                                alert("Error al agregar el acta.");
                            }
                        });

                        $(':input[type=text][name!=localidadInf][name!=normativa]').val('').prop('checked', false)
                            .prop('selected', false);
                        $('select').val('');
                        $("input[type=date]").val("");
                        $("input[type=time]").val("");
                        $('#observacionesInfID').val("");
                        $('input[type="radio"]').prop('checked', false);

                        $('#titularesRegistrados').empty();
                        $('#titularesDeclarados').empty();
                        $('#titularesNoDeclarados').empty();
                        $('#personasRegistradas').empty();
                        $('#personasNoRegistradas').empty();

                        $('#infractoresDeclarados').empty();
                        $('#infractoresNoDeclarados').empty();
                        $('#personasInfRegistradas').empty();
                        $('#personasInfNoRegistradas').empty();

                        $('#formCargarActa_infracciones').empty();
                        $('#listadoInfracciones').empty();

                        $("#formCargarActa > input").each((index, elem) => {
                            elem.remove();
                        });

                        $("#labelNumeroActa").remove();
                        $("#labelNumeroActaRangoInspector").remove();

                        $('#localidadInfID').val("1");

                        window.location.reload(true);
                    }
                } else {
                    alert("No se encuentra cargado ningun infractor, revisar!");
                }

            }else{
                alert("Campos vacíos, revisar!");
            }


    });

        //función verificar número de acta
        $("#numeroActaID").blur(function () {
            var numero_acta = $('#numeroActaID').val();
            var id_inspector = $('#inspector_form').val();
            $("#labelNumeroActaVacio").remove();
            if (!$(this).val()) {
                $("#numeroActaID").after('<p class="control-label" id="labelNumeroActaVacio" style="color:red">' + "Campo obligatorio, debe llenarlo." + '</p>');
            }
            else {
            //función verificar numero de acta repetido
            $.ajax({
                url: "@(Url.Action("verificarNumeroActa", "Acta"))",
                type: 'GET',
                data: {
                    'numero_acta': numero_acta},
              contentType: 'application/json; charset=utf-8',
              success: function (data) {
                  var result = $.parseJSON(data);
                  $("#labelNumeroActa").remove();
                if (result.success) {
                    $("#numeroActaID").after('<p class="control-label" id="labelNumeroActa" style="color:red">' + result.Message + '</p>');
                    $('#numeroActaID').val('');
                }
                else {
                    $("#numeroActaID").after('<p class="control-label" id="labelNumeroActa" style="color:green">' + result.Message + '</p>');
                }
              }
            });

            //función verificar rango inspector
            $.ajax({
                url: "@(Url.Action("verificarNumeroActaRangoInspector", "Acta"))",
                type: 'GET',
                data: {
                    'numero_acta': numero_acta,
                    'id_inspector': id_inspector
                },
              contentType: 'application/json; charset=utf-8',
              success: function (data) {
                  var result = $.parseJSON(data);
                  $("#labelNumeroActaRangoInspector").remove();
                  if (result.success) {
                      $("#numeroActaID").after('<p class="control-label" id="labelNumeroActaRangoInspector" style="color:green">' + result.Message + '</p>');
                  }
                  else {
                      $("#numeroActaID").after('<p class="control-label" id="labelNumeroActaRangoInspector" style="color:red">' + result.Message + '</p>');
                      $('#numeroActaID').val('');
                  }
              }
            });

            }
        });

    </script>
</body>
</html>
